.navbar {
width: 100%;
min-height: 70px;    
background-color: #0f5132;
padding: 0 30px;
display: flex;
justify-content: space-between;
align-items: center;
box-sizing: border-box;
}

.navbar {
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 1000;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.navbar h1 {
color: white;
}

.navbar ul {
list-style: none;
display: flex;
gap: 20px;
margin: 0;
padding: 0;
}

.navbar li {
color: white;
cursor: pointer;
font-weight: 500;
}

.navbar li:hover {
text-decoration: underline;
}

.hero {
height: calc(100vh - 70px); 
display: flex;
justify-content: center;  
align-items: flex-start;   
padding-top: 120px;        
text-align: center;
}

.hero h2 {
font-size: 48px;
color: #006C35;
font-weight: bold;
line-height: 1.5;
font-size: clamp(26px, 5vw, 48px);
}

.hero-content h3 {
font-size: 25px;
color: #8B6F47;
max-width: 600px;
line-height: 1.8;
font-size: clamp(16px, 3.5vw, 25px);
}

.hero-content h5 {
font-size: 20px;
color: #8B6F47;
max-width: 600px;
line-height: 1.8;
font-size: clamp(14px, 3vw, 20px);
}

.map-container {
width: 750px;
max-width: 100%;
margin-top: 30px;
}

.map-image {
width: 100%;
/*height: auto;
display: block; */
height: 100%;
object-fit: contain;
}

.hero-content {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}

.map-wrapper {
position: relative;
/*width: 500px;*/
height: auto;
width: 100%;
max-width: 500px;
aspect-ratio: 3 / 4;
}

.map-image {
width: 100%;
display: block;
}

/* المنطقة القابلة للنقر */
.region {
position: absolute;
cursor: pointer;
z-index: 2;
transform: translate(-50%, -50%);

}

/* اسم المنطقة (ظاهر دائمًا) */
.region-label {
color: #0f5132;
padding: 6px 10px;
border-radius: 6px;
font-size: 17px;
font-weight: 600;
transition: 0.25s ease;
white-space: nowrap;
}

/* Hover */
/*.region:hover .region-label {
background: #0f5132;
color: #fff;
transform: scale(1.1);
}*/

@media (max-width: 400px) {
.region-label {
font-size: 12px;
padding: 4px 8px;
}
}

.region-riyadh {
top: 75%;
left: 49%;
}

.region-makkah {
top: 82%;
left: 31%;
}

.region-asir {
top: 93%;
left: 37%;
}

.region {
  cursor: pointer;
}

